@import "./../../../assets/scss/functions.scss";
@import "./../../../assets/scss/variables.scss";
@import "./../../../assets/scss/mixins.scss";

// .header__menu-item

.header {
  &__menu-item {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (max-width: $break-point-tablet) {
      justify-content: flex-start;
      padding: pxToRem(20px) 0px;
      font-size: pxToRem(20px);
      border-bottom: 1px solid $color-font-main;
      text-align: left;
    }
  }

  // .header__link

  &__link {
    color: $color-font-main;
    @include transition-mixin;

    &:hover {
      color: $color-font-hover;
    }
  }
}
