$color-bg-page-light: #ffffff;
$color-bg-page-dark: #eeeeee;

$color-font-main: #121212;
$color-font-hover: #6337ff;
$color-font-white: #ffffff;

$btn-bg-color: #6337ff;
$btn-bg-color-hover: #372186;

$html-font-size-big: 16px;
$html-font-size-medium: 14px;
$html-font-size-small: 12px;

$container-main-width: 1200px;
$container-secondary-width: 980px;
$safety-padding: 10px;

$break-point-tablet: 768px;
$break-point-mobile: 425px;
$break-point-mobile-small: 375px;

$slider-nav-active-item: #eeeeee;
$slider-nav-black-item: #242424;
$slider-nav-beige-item: #e3d2c3;
$slider-nav-blue-item: #27279c;
$slider-nav-red-item: #991823;

$burger-bg-color: #121212;

$smart-home-bg-color: #dadce0;

$transition-duration: 0.3s;
