@import "./../../assets/scss/functions.scss";
@import "./../../assets/scss//variables.scss";

.light {
  // .light__content

  &__content {
    position: relative;
    overflow: visible;
  }

  // .light__img-content

  &__img-content {
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // .light__img-block

  &__img-block {
    width: 100%;
    height: 143%;
    position: absolute;
    top: -449px;
    left: 0;
  }

  // .light__img

  &__img {
    overflow: visible;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center;
  }

  // .light__text-content

  &__text-content {
    padding: 0px 0px pxToRem(150px);

    @media (max-width: $break-point-tablet) {
      padding: pxToRem(150px) 0px;
    }

    @media (max-width: $break-point-tablet) {
      padding: pxToRem(250px) 0px;
    }
  }

  // .light__text-block

  &__text-block {
    width: 100%;
  }

  // .light__text-item

  &__text-item {
    max-width: pxToRem(190px);
    color: $color-font-white;

    &:nth-child(1) {
      position: relative;
      top: 350px;
      left: 16.1%;

      @media (max-width: $break-point-tablet) {
        top: -50px;
        left: 16.1%;
      }

      @media (max-width: $break-point-mobile) {
        top: -120px;
        left: 16.1%;
      }
    }

    &:nth-child(2) {
      position: relative;
      left: 41.5%;
      top: -10px;

      @media (max-width: $break-point-tablet) {
        left: 60%;
        top: -440px;
      }

      @media (max-width: $break-point-mobile) {
        left: 60%;
        top: -480px;
      }
    }

    &:nth-child(3) {
      position: relative;
      left: 65.8%;
      top: -337px;

      @media (max-width: $break-point-tablet) {
        display: none;
      }
    }
  }

  &__title-cmd {
    font-weight: 300;
    font-size: pxToRem(32px);
  }

  // .light__title

  &__title {
    font-size: pxToRem(24px);
    margin-bottom: pxToRem(24px);
  }

  // .light__text-descriptionn

  &__text-description {
    opacity: 0.7;
    margin-bottom: pxToRem(56px);
  }

  // .light__download

  &__download {
    font-size: pxToRem(18px);
    font-weight: 700;
    margin-bottom: pxToRem(18px);
    margin-left: pxToRem(-60px);
    background: url("./../../assets/img/logo-3.svg") left top no-repeat;
    padding: 0 0 0 pxToRem(60px);
    width: pxToRem(182px);
  }
}
